// FONT-FAMILY ===========================
// =======================================  

$roboto: 'Roboto',
sans-serif;
$playfair: 'Playfair Display',
serif;
$yesteryear: 'Yesteryear',
cursive;

// FONT-SIZE =============================
// ======================================= 

$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font32: 32px;
$font48: 48px;
$font112: 112px;

// COLORS ================================
// ======================================= 

$yellow: rgb(211, 180, 107);
$white: #ffffff;
$whitesmoke: whitesmoke;
$gray: rgba(236, 236, 236, 1);
$darkgray: rgb(110, 110, 110);
$black: rgba(15, 15, 15, 1);

